.voter {
  width: 120px;
  height: 30px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  margin-right: 8px; }
  .voter.disabled > .button {
    cursor: not-allowed; }
  .voter:not(.disabled) > .button.up:hover {
    color: #4caf50; }
  .voter:not(.disabled) > .button.down:hover {
    color: #f44336; }
  .voter > .button {
    cursor: pointer;
    width: 50%;
    transition: all 0.15s ease-in;
    text-align: center; }
    .voter > .button:not(:last-child) {
      border-right: 1px solid #616161; }
