.voter {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    float: right;
    margin-right: 8px;
}

.voter>.button {
    cursor: pointer;
    width: 50%;
    transition: all 0.15s ease-in;
    text-align: center;
}

.voter.disabled>.button {
    cursor: not-allowed;
}

.voter>button>svg {
    font-size: 24px;
}

.voter>.button:not(:last-child) {
    border-right: 1px solid #616161;
}

.voter:not(.disabled)>.button.up:hover {
    color: #4caf50;
}

.voter:not(.disabled)>.button.down:hover {
    color: #f44336;
}